html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main, .swiper-container, .swiper-wrapper, .swiper-slide {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
}

/*音乐*/
.music {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 111;
    background: url(../audio/music.svg) no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}

.musicMove {
    -webkit-animation: moveM 1s infinite linear both;
    animation: moveM 1s infinite linear both;
}

@keyframes moveM {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*slide1*/
.swiper-wrapper .slide1 {
    background: url("../img/20597056_184924594035_2.jpg") no-repeat;
    background-size: cover;
}

.slide1 span {
    opacity: 0;
}

.slide1 span {
    display: inline-block;
    z-index: 1;
    position: absolute;
}

.slide1 .ling {
    text-shadow: 0 0 5px #38f6f4, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
    top: 3.7rem;
    left: 1.4rem;
    font-size: .9rem;
}

.slide1 .word {
    top: 7.6rem;
    left: .28rem;
    font-size: .49rem;
    color: rgba(131, 112, 132, 0.78);
}

.slide1 .name {
    font-size: .6rem;
    color: lightsteelblue;
    text-shadow: 1px 1px 0 #f96, -1px -1px 0 #f96;
    top: 8.6rem;
    left: 1.5rem;
}

#page1 img {
    opacity: 1;
    transition: all 2s;
    -webkit-transition: all 2s;
}

#page1 span {
    opacity: 1;
}

#page1 img:nth-child(1) {
    -webkit-animation: bounceInDown 1s 1 both;
    animation: bounceInDown 1s 1 both;
}

#page1 img:nth-child(2) {
    -webkit-animation: move2 6s infinite both;
    animation: move2 6s infinite both;
}

@-webkit-keyframes move2 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move2 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page1 img:nth-child(3) {
    -webkit-animation: move3 6s infinite both;
    animation: move3 6s infinite both;
}

@-webkit-keyframes move3 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move3 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page1 img:nth-child(4) {
    -webkit-animation: zoomIn 1s 0.3s 1 both;
    animation: zoomIn 1s 0.3s 1 both;
}

#page1 .ling {
    -webkit-animation: zoomIn 1s 0.3s 1 both;
    animation: zoomIn 1s 0.3s 1 both;
}

#page1 img:nth-child(5) {
    -webkit-animation: move5 30s 1s linear infinite both;
    animation: move5 30s 1s linear infinite both;
}

@-webkit-keyframes move5 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes move5 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#page1 img:nth-child(7) {
    -webkit-animation: move7 2s ease-out infinite both;
    animation: move7 2s ease-out infinite both;
}

@-webkit-keyframes move7 {
    0% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
    100% {
        -webkit-transform: translateY(2rem);
        transform: translateY(2rem);
    }
}

@keyframes move7 {
    0% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
    100% {
        -webkit-transform: translateY(2rem);
        transform: translateY(2rem);
    }
}

#page1 .word {
    -webkit-animation: rollIn 1s 0.3s 1 both;
    animation: rollIn 1s 0.3s 1 both;
}

#page1 .name {
    -webkit-animation: bounceInRight 1s 0.7s 1 both;
    animation: bounceInRight 1s 0.7s 1 both;
}


/*slide2*/
.swiper-wrapper .slide2 {
    background: url("../img/0001.gif");
    background-size: cover;
}

.slide2 img {
    position: absolute;
    opacity: 0;
}

.slide2 span {
    opacity: 0;
}

.slide2 img:nth-child(1) {
    top: 3rem;
    left: 2.4rem;
    width: 1.7rem;
    height: 1.82rem;
}

.slide2 img:nth-child(2) {
    top: 2.8rem;
    left: 2.14rem;
    width: 2.22rem;
    height: 2.28rem;
}

.slide2 img:nth-child(3) {
    top: 2.5rem;
    left: 1.8rem;
    width: 2.9rem;
    height: 2.9rem;
}

.slide2 img:nth-child(4) {
    top: 2.2rem;
    left: 1.52rem;
    width: 3.45rem;
    height: 3.55rem;
}

.slide2 img:nth-child(5) {
    top: 1.9rem;
    left: 1.15rem;
    width: 4.15rem;
    height: 4.17rem;
}

.slide2 img:nth-child(6) {
    top: 1.55rem;
    left: .82rem;
    width: 4.8rem;
    height: 4.9rem;
}

.slide2 img:nth-child(7) {
    top: 1.2rem;
    left: .52rem;
    width: 5.4rem;
    height: 5.5rem;
}

.slide2 img:nth-child(8) {
    top: .9rem;
    left: .22rem;
    width: 6rem;
    height: 6.1rem;
}

.slide2 span, .slide2 p {
    display: inline-block;
    color: #fff;
    position: absolute;
    opacity: 0;
}

.slide2 .circular {
    background: url("../img/portraitPicture.bmp")no-repeat 100% 100%;
    background-size: cover;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    top: 3.3rem;
    left: 2.65rem;
}

.slide2 .born {
    font-size: .5rem;
    bottom: 3.3rem;
    left: .74rem;
}

#page2 .born {
    -webkit-animation: zoomIn 1s 0.3s 1 both;
    animation: zoomIn 1s 0.3s 1 both;
}

.slide2 .i1 {
    display: inline-block;
    background: #fff;
    width: 5.7rem;
    height: .026rem;
    position: absolute;
    bottom: 3.2rem;
    left: .36rem;
    opacity: 0;
}

#page2 .i1 {
    -webkit-animation: zoomIn 1s 0.3s 1 both;
    animation: zoomIn 1s 0.3s 1 both;
    opacity: 1;
}

#page2 span, #page2 p {
    opacity: 1;
}

.slide2 p {
    font-size: .28rem;
}

.slide2 .p1 {
    bottom: 2.77rem;
    left: 2.6rem;
}

#page2 .p1 {
    -webkit-animation: fadeIn 1s 1s 1 both;
    animation: fadeIn 1s 1s 1 both;
}

.slide2 .p2 {
    bottom: 2.4rem;
    left: 1rem;
}

#page2 .p2 {
    -webkit-animation: fadeIn 1s 1.8s 1 both;
    animation: fadeIn 1s 1.8s 1 both;
}

.slide2 .p3 {
    bottom: 2rem;
    left: 2.1rem;
}

#page2 .p3 {
    -webkit-animation: fadeIn 1s 2.8s 1 both;
    animation: fadeIn 1s 2.8s 1 both;
}

.slide2 .p4 {
    bottom: 1.6rem;
    left: 1.4rem;
}

#page2 .p4 {
    -webkit-animation: fadeIn 1s 3.8s 1 both;
    animation: fadeIn 1s 3.8s 1 both;
}

.slide2 .p5 {
    font-size: .35rem;
    bottom: 1.1rem;
    left: 1.66rem;
}

#page2 .p5 {
    -webkit-animation: fadeIn 1s 4.8s 1 both;
    animation: fadeIn 1s 4.8s 1 both;
}

#page2 img {
    display: none;
}


#page2 span {
    opacity: 1;
}

#page2 img:nth-child(1) {
    -webkit-animation: move-1 6s linear infinite both;
    animation: move-1 6s linear infinite both;
}

@-webkit-keyframes move-1 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-1 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(2) {
    -webkit-animation: move-2 12s linear infinite both;
    animation: move-2 12s linear infinite both;
}

@-webkit-keyframes move-2 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-2 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(3) {
    -webkit-animation: move-3 14s linear infinite both;
    animation: move-3 14s linear infinite both;
}

@-webkit-keyframes move-3 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-3 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(4) {
    -webkit-animation: move-4 16s linear infinite both;
    animation: move-4 16s linear infinite both;
}

@-webkit-keyframes move-4 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-4 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(5) {
    -webkit-animation: move-4 18s linear infinite both;
    animation: move-4 18s linear infinite both;
}

@-webkit-keyframes move-5 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-5 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(6) {
    -webkit-animation: move-6 20s linear infinite both;
    animation: move-6 20s linear infinite both;
}

@-webkit-keyframes move-6 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-6 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(7) {
    -webkit-animation: move-7 22s linear infinite both;
    animation: move-7 22s linear infinite both;
}

@-webkit-keyframes move-7 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-7 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#page2 img:nth-child(8) {
    -webkit-animation: move-8 24s linear infinite both;
    animation: move-8 24s linear infinite both;
}

@-webkit-keyframes move-8 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes move-8 {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}



/*slide3*/
.swiper-wrapper .slide3 {
    background: url("../img/qilv.gif") no-repeat;
    background-size: cover;
}

.slide3 #wrap {
    width: 1.5rem;
    height: 1.2rem;
    margin: 4.7rem auto;
    position: relative;
    perspective: 2000px;
}

.slide3 #wrap ul {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-animation: move-rotate 20s 3s infinite both;
    animation: move-rotate 20s 3s infinite both;
}

.slide3 #wrap ul li {
    width: 1.48rem;
    height: 1.18rem;
    border: 0.01rem solid #ccc;
    box-shadow: 0  0.01rem 0.03rem 0 rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.05rem;
    background: lightblue;
    font-size: .3rem;
    line-height: 1.18rem;
    text-align: center;
}

@-webkit-keyframes move-rotate {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    12.5% {
        -webkit-transform: rotateY(45deg);
        transform: rotateY(45deg);
    }
    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
    37.5% {
        -webkit-transform: rotateY(135deg);
        transform: rotateY(135deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    62.5% {
        -webkit-transform: rotateY(225deg);
        transform: rotateY(225deg);
    }
    75% {
        -webkit-transform: rotateY(270deg);
        transform: rotateY(270deg);
    }
    87.5% {
        -webkit-transform: rotateY(315deg);
        transform: rotateY(315deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes move-rotate {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    12.5% {
        -webkit-transform: rotateY(45deg);
        transform: rotateY(45deg);
    }
    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
    37.5% {
        -webkit-transform: rotateY(135deg);
        transform: rotateY(135deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    62.5% {
        -webkit-transform: rotateY(225deg);
        transform: rotateY(225deg);
    }
    75% {
        -webkit-transform: rotateY(270deg);
        transform: rotateY(270deg);
    }
    87.5% {
        -webkit-transform: rotateY(315deg);
        transform: rotateY(315deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.slide3 p {
    font-size: .3rem;
    position: absolute;
    opacity: 0;
}

.slide3 .last {
    top: 1rem;
    left: 2.5rem;
}

#page3 .last {
    -webkit-animation: zoomIn 1s 1s 1 both;
    animation: zoomIn 1s 1s 1 both;
}

.slide3 .same {
    top: 1.7rem;
    left: 1.6rem;
}

#page3 .same {
    -webkit-animation: zoomIn 1s 2s 1 both;
    animation: zoomIn 1s 2s 1 both;
}

.slide3 .hot {
    top: 2.4rem;
    left: 1rem;
}

#page3 .hot {
    -webkit-animation: zoomIn 1s 3s 1 both;
    animation: zoomIn 1s 3s 1 both;
}

.slide3 .skill {
    top: 3.1rem;
    left: 1.6rem;
}

#page3 .skill {
    -webkit-animation: zoomIn 1s 4s 1 both;
    animation: zoomIn 1s 4s 1 both;
}

#page3 p {
    opacity: 1;
}


/*slide4*/
.swiper-wrapper .slide4 {
    background: url("../img/years.gif") no-repeat;
    background-size: cover;
}

.slide4 img {
    position: absolute;
    opacity: 0;
}

.slide4 img:nth-child(1) {
    width: 2rem;
    height: 1rem;
    bottom: 1.8rem;
}

#page4 img {
    opacity: 1;
    transition: all 10s;
}

#page4 img:nth-child(1) {
    -webkit-animation: bounceInDown 1s linear .1s both;
    animation: bounceInDown 1s linear .1s both;
}

.slide4 img:nth-child(2) {
    width: 2rem;
    height: 1rem;
    bottom: 4.6rem;
}

#page4 img:nth-child(2) {
    -webkit-animation: bounceInDown 1s linear 1s both;
    animation: bounceInDown 1s linear 1s both;
}

.slide4 ul li {
    position: absolute;
    left: .12rem;
    color: blanchedalmond;
    font-size: .3rem;
    opacity: 0;
}

#page4 ul li {
    opacity: 1;
}

.slide4 ul li:nth-child(1) {
    bottom: 2.25rem;
}

#page4 ul li:nth-child(1) {
    -webkit-animation: rotateIn .5s .9s linear both;
    animation: rotateIn .5s .9s linear both;
}

.slide4 ul li:nth-child(2) {
    bottom: 5.07rem;
}

#page4 ul li:nth-child(2) {
    -webkit-animation: rotateIn .5s 1.8s linear both;
    animation: rotateIn .5s 1.8s linear both;
}

.slide4 .line i {
    display: block;
    width: .01rem;
    height: 5.6rem;
    background: orangered;
    position: absolute;
    top: 5.5rem;
    left: 2.1rem;
    opacity: 0;
}

#page4 .line i {
    opacity: 1;
    -webkit-animation: zoomIn .3s 2.5s linear both;
    animation: zoomIn .3s 2.5s linear both;
}

.slide4 .line img {
    width: .4rem;
    height: .3rem;
    position: absolute;
    left: 2rem;
}

.slide4 .line img:nth-child(1) {
    bottom: 1.9rem;
}

.slide4 .msg .msg-work {
    position: absolute;
    top: 5.46rem;
    left: 2.5rem;
    text-align: center;
}

.slide4 .msg .msg-work h2 {
    opacity: 0;
    font-size: .33rem;
}

#page4 .msg .msg-work h2 {
    opacity: 1;
    -webkit-animation: bounceInRight .5s linear 3.5s both;
    animation: bounceInRight .5s linear 3.5s both;
}

.slide4 .msg .msg-work p {
    margin-top: .2rem;
    line-height: .4rem;
    font-size: .3rem;
    opacity: 0;
}

#page4 .msg .msg-work p {
    opacity: 1;
    -webkit-animation: zoomIn .5s linear 4s both;
    animation: zoomIn .5s linear 4s both;
}

.slide4 .msg .msg-assess {
    position: absolute;
    top: 9.1rem;
    left: 3rem;
    font-size: .3rem;
    line-height: .5rem;
    width: 100%;
}

.slide4 .msg .msg-assess span {
    opacity: 0;
}

.slide4 .msg .msg-assess .work, .slide4 .msg .msg-assess .Int {
    position: absolute;
    left: 1.5rem;
}

#page4 .msg .msg-assess span {
    opacity: 1;
}

#page4 .msg .msg-assess span.study {
    -webkit-animation: zoomIn .5s linear 5s both;
    animation: zoomIn .5s linear 5s both;
}

#page4 .msg .msg-assess span.work {
    -webkit-animation: zoomIn .5s linear 6s both;
    animation: zoomIn .5s linear 6s both;
}

#page4 .msg .msg-assess span.Unite {
    -webkit-animation: zoomIn .5s linear 7s both;
    animation: zoomIn .5s linear 7s both;
}

#page4 .msg .msg-assess span.Int {
    -webkit-animation: zoomIn .5s linear 8s both;
    animation: zoomIn .5s linear 8s both;
}


/*slide5*/
.slide5 {
    z-index: 10000;
    background:url(../img/timg.jpg)no-repeat center center;
    background-size: cover;

}

.slide5 img{

    margin: 10% auto 0 ;
    width: 3.5rem;
    height: 3.5rem;
    display: block;
}

.slide5 .tel{
    margin-top: 70%;
}

.slide5 p {
    color: #FFF;
    text-align: center;
    font-size: .32rem;


}